html {
	background-color: #FFFFFF;
}
body {
	margin-top: 0px;
	color: #000;
	font-family: Helvetica, sans-serif;
	font-size: 0.95em;
}
li, h1, h2, h3, h4, p {
	text-shadow: #bbb 1px 1px 2px;
}
h1 {
	font-size: 3.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
h1, h2, h3 {
	margin: 0.3em 0 0 0;
	font-variant: small-caps;
	color: black;
	text-shadow: #ccc 2px 2px 5px;
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight: bold;
}
abbr, acronym {
	border-bottom: 1px dotted #000;
	cursor: help;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
blockquote, ul, ol, dl {
	margin: 0.25em;
}
ol, ul, dl {
	margin: 0 0 1em .2em;
	padding: 0 0 0 .8em;
}
ol li {
	list-style: decimal;
}
ul li {
	list-style: circle;
}
dl dd {
	margin-left: 1em;
}
th, td {
	border: 1px solid #000;
	padding: 0.5em;
}
th {
	font-weight: bold;
	text-align: center;
}
table.noborder td{
	border: none;
}
caption {
	margin-bottom: 0.5em;
	text-align: center;
}
p, fieldset, table, pre {
	margin-bottom: 1em;
}
p#footer {
	text-align: center;
}
p#logo {
	margin-top: 25px;
}
p#einstein {
	text-align: center;
}
ul.nav {
	margin: 0;
}
ul.nav li {
	list-style-type: none;
	font-size: 1.2em;
}
ul.subnav {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 0.85em;
}
.small {
	font-size: 0.7em;
}
a:link {
	color: #008000;
	text-decoration: none;
}
a:visited {
	color: #004000;
	text-decoration: none;
}
a:hover {
	text-shadow: #fc0 0 0 5px;
}
a:active {
	color: blue;
	text-decoration: none;
}

a.nostyle {
	color: #000;
}
img {
	border-style: none;
}